body {
    font-size: 16px;
    color: #fff;
    background-color: #125e61;
    font-family: 'Oxygen', sans-serif;
  }
  
  /** HEADER **/
  #header-nav {
    background-color: #19f637;
    border-radius: 0;
    border: 0;
  }
 
  
  .navbar-brand {
    padding-top: 25px;
  }
  
  .navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #3e3f7c;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    position: absolute;
    left: 5px;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: #ac8c98;
    text-align: center;
    border: 1px solid grey;
    background: #97d3ab;
    margin-top: 0px;


  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a  {
    font-size: 1.8em;
  }

  section {
    margin: 10px;
    padding: 10px;
	  border:	1px solid black;
	  background-color: #97d3ab;
	  width: 100%;
    height: 1000px;
	  margin: 5px;
	  font-family: Helvetica;
	  color: black;
	  position: relative;
	  overflow: auto;
 }
